@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import 'tailwindcss';

* {
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  scrollbar-width: thin;
  scrollbar-color: #1e293b #000000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
  border: 2px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
